.title{
    text-align: center;
    font-size: 2.2rem;
    color: #2f2b3a;
    margin-bottom: 20px;
    margin-top: 10px;
  }

.carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 12px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.carrusel:hover {
    transform: scale(1.02);
}

.img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block; /* Hace que la imagen sea un bloque */
    margin: 0 auto; /* Centra la imagen dentro de su contenedor */
}

.h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #444;
    margin-top: 20px;
}

.p {
    text-align: center;
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}