.faqContainer {
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
.faqItem {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
.faqItem:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s;
  }
  